<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../../static/style.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div id="header">
    <div id="Avatar_Container" class="thumb">
        <img src="{% static 'ecopontos/img/Avatar_Rosto.png' %}" id="Avatar_Rosto">
    </div>

    <div id="Nome_do_Usuario">
        <h1 id="ola">Olá, {{ username }}</h1>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" id="conteudo-left">
    <div class="container" id="conteudo-left">
        <div class="navbar-header">
            <img class="navbar-brand" src="{% static 'ecopontos/img/Logo_EcoPonto.JPG' %}" id="Logo_EcoPonto">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home-ecopontos' %}">ECOPONTOS</a></li>
                <li><a href="{% url 'home-usuarios' %}">USUARIOS</a></li>
                <li><a href="{% url 'home-descartadores' %}">DESCARTADORES</a></li>
                <li><a href="{% url 'home-descartes' %}">DESCARTES</a></li>
                <li><a href="/inicio">SAIR</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="container1">
    <div id="conteudo-right">
        <div class="Container_Descartes" style="margin: 20px">
            <h1>Gestão de Descartes</h1>
            <form action="{% url 'save-descartes' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="nome" class="col-2 col-form-label">Nome</label>
                    <div class="col-10">
                        <input id="nome" name="nome" placeholder="Nome" type="text" required="required"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tipo" class="col-2 col-form-label">Tipo</label>
                    <div class="col-10">
                        <input id="tipo" name="tipo" placeholder="Tipo" type="text" required="required"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quantidade" class="col-2 col-form-label">Quantidade</label>
                    <div class="col-10">
                        <input id="quantidade" name="quantidade" placeholder="Quantidade em m³" type="text"
                               required="required"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descartador" class="col-2 col-form-label">Descartador</label>
                    <div class="col-10">
                        <input id="descartador" name="descartador" placeholder="Descartador documento" type="text"
                               required="required"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ecoponto" class="col-2 col-form-label">Ecoponto</label>
                    <div class="col-10">
                        <input id="ecoponto" name="ecoponto" placeholder="Ecoponto" type="text" required="required"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-2 col-10">
                        <button name="submit" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
            <table id="tabela" class="table table-borderless">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>TIPO</th>
                    <th>QUANTIDADE (m³)</th>
                    <th>DESCARTADOR</th>
                    <th>ECOPONTO</th>
                </tr>
                </thead>
                {% for descarte in descartes %}
                    <tbody>
                    <tr>
                        <td>{{ descarte.id }}</td>
                        <td>{{ descarte.nome }}</td>
                        <td> {{ descarte.tipo }} </td>
                        <td>{{ descarte.quantidade }}</td>
                        <td>{{ descarte.descartador.documento }}</td>
                        <td>{{ descarte.ecoponto.id }}</td>
                        <td>
                            <a href="{% url 'editar-descartes' descarte.id %}" class="glyphicon glyphicon-edit"></a>
                        </td>
                        <td>
                            <a href="{% url 'delete-descartes' descarte.id %}"
                               class="glyphicon glyphicon-trash"></a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            <!--*****Edição Ecopontos************************************************************************************-->
        </div>
    </div>
</div>
</body>
</html>